/*Общие*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: none!important;
}
html{
    font-size: 18px;
    font-family: Inter, sans-serif!important;
}
.dark html{
    color: white;
}
.container {
    background-color: #F0F0F0;
}
.dark .container {
    background: #202225;
}
body {
    background-color: #F0F0F0!important;
    color: #000!important;
}
.dark body {
    background: #202225!important;
    color: #fff!important;
}
/*Кнопка темы*/
.btn-them {
    display: flex!important;
    align-items: center;
    justify-content: center;
    color: #fff!important;
    background-color: #1266f1!important;
    min-width: 45px;
    height: 45px!important;
}
.dark .btn-them {
    background-color: #42464D!important;
}
/*Хедер*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin-bottom: 40px;
}
/*Форма*/
.form-row {
    height: 60px;
}
/*Поле поиска*/
.selectize {
    width: 100%;
}
.dark .selectize {
    background-color: rgba(66, 70, 77, 0);
}
.items {
    display: flex!important;
    align-items: center;
    height: 60px;
    padding: 0 20px!important;
    border-radius: 6px!important;
    text-align: left!important;
    font-size: 20px!important;
}
.selectize-input input {
    font-size: 20px!important;
}
.selectize-control.single .selectize-input {
    background-color: rgba(255, 255, 255, 0) !important;
    background-image: none!important;
}
label {
    width: 100%;
}
.dark .selectize-input input {
    color: white;
}
/*Выпадающий список поиска*/
.selectize-dropdown {
    border: none!important;
    border-radius: 6px!important;
}
.selectize-dropdown-content {
    font-size: 20px;
    box-shadow: 0px 3px 5px rgba(47, 49, 54, 0.6);
    border-radius: 6px;
    background-color: #E2E2E2;
    max-height: 70vh!important;
    padding: 15px!important;
}
.dark .selectize-dropdown-content {
    color: white;
    background-color: #42464D;
}
.optgroup-header {
    background-color: #E2E2E2!important;
}
.dark .optgroup-header {
    color: white!important;
    background-color: #42464D!important;
}
.selectize-dropdown-content .optgroup .active {
    background-color: #D6D6D7;
}
.selectize-dropdown-content .optgroup .optgroup-header {
    font-size: 24px;
    padding: 15px;
}
.selectize-dropdown-content .optgroup .option {
    padding: 15px;
}
.dark .selectize-dropdown-content .optgroup .active {
    color: white;
    background-color: #2F3136;
}
/**/
.dark .item {
    color: white!important;
}
/*Кнопки расписания*/
.nav-week, .nav-day {
    width: 100% !important;
    display: flex;
    justify-content: center;
}
.nav-week {
    margin-top: 12px!important;
    margin-bottom: 12px !important;
}
.nav-week-li {
    width: 33% !important;
}
.nav-week-li button, .nav-day li button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav-day li {
    width: 16.6% !important;
}
.dark .nav-tabs .nav-link.active {
    color: #7595FF;
    border-color: #7595FF;
    background-color: #2F3136!important;
}
.dark .nav-tabs .nav-link {
    color: rgba(255, 255, 255, 0.8);
    background-color: #202225 !important;;
}
.dark .nav-tabs .nav-link:hover {
    opacity: 0.6;
    background-color: #2F3136!important;
}
.nav-tabs .nav-link {
    font-size: 14px!important;
}
/*Табличка расписания*/
.div {
    background: #E2E2E2;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    display: grid;
    grid-template-areas: 'item_1 item_2 item_3 item_4 item_5 item_6';
    grid-template-columns: 65px auto;
    align-items: center;
    grid-column-gap: 10px;
}
.dark .div {
    background-color: #2F3136;
}
.div div:first-child {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #1266F1;
    border-radius: 50px;
    font-size: 32px;
}
.dark .div div:first-child{
    border: solid 2px #7595FF;
}
/*Адаптив*/
@media (max-width: 767px) {
    .container {
        max-width: none;
        font-size: 16px;
    }
    .div {
        background: #E2E2E2;
        border-radius: 10px;
        margin-top: 10px;
        padding: 15px;
        display: grid;
        grid-template-areas:
    'item_1 item_3 item_3'
    'item_1 item_4 item_5'
    'item_1 item_2 item_6';
        grid-template-columns: 65px auto 2fr;
        grid-column-gap: 10px;
    }
    .item_1 {
        grid-area: item_1;
    }
    .item_2 {
        grid-area: item_2;
        text-align: start;
        color: #1266F1;
    }
    .dark .item_2 {
        color: #7595FF;
    }
    .item_3 {
        grid-area: item_3;
        text-align: start;
    }
    .item_4 {
        grid-area: item_4;
        grid-column-gap: 10px;
        text-align: start;
    }
    .item_5 {
        grid-area: item_5;
        text-align: start;
    }
    .item_6 {
        grid-area: item_6;
        text-align: end;
        color: #1266F1;
    }
    .dark .item_6 {
        color: #7595FF;
    }
}
@media (max-width: 355px) {
    .container {
        max-width: none;
        font-size: 14px;
    }
    .div {
        background: #E2E2E2;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px;
        display: grid;
        grid-template-areas:
    'item_1 item_3 item_3'
    'item_1 item_4 item_5'
    'item_1 item_2 item_6';
        grid-template-columns: 45px auto 2fr;
        grid-column-gap: 10px;
    }
    .div div:first-child {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #1266F1;
    border-radius: 50px;
    font-size: 26px;
}
}