{% extends 'base.html' %}
{% block title %} Расписание {% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            {#            Форм поиска#}
            <form class="form-row" action="{% url 'main_page' %}" method="get">
                {#                Поле выбора Препода или группы#}
                {{ previous }}<br>
                {{ current }}<br>
                {{ next }}<br>
                {{ MondayP }}<br>
                {{ MondayC }}<br>
                {{ MondayN }}<br>
                {#            Поле поиска#}
                <select class="js-selectize" name="search" placeholder="Выберите город" onchange="this.form.submit()">
                    <option value=""></option>
                    <optgroup label="Преподаватели">
                        {% for teach in teacher_name %}
                            <option value="{{ teach.last_name }}">{{ teach.last_name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Группы">
                        {% for group in group_name %}
                            <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Кабинет">
                        {% for cabinet in cabinet_name %}
                            <option value="{{ cabinet.cabinet_name }}">{{ cabinet.cabinet_name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </form>
            {#        Кнопка смены темы#}
            <button type="button" class="themetoggle btn btn-them btn-floating">
                <span class="material-icons">light_mode</span>
            </button>
            {# Переключатели недели #}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="previous-tab" data-bs-toggle="tab" data-bs-target="#previous"
                            type="button" role="tab" aria-controls="previous" aria-selected="true">Previous
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="current-tab" data-bs-toggle="tab" data-bs-target="#current"
                            type="button" role="tab" aria-controls="current" aria-selected="false">Current
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="next-tab" data-bs-toggle="tab" data-bs-target="#next" type="button"
                            role="tab" aria-controls="next" aria-selected="false">Next
                    </button>
                </li>
            </ul>
            {#        Контент переключателей недели#}
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="previous" role="tabpanel" aria-labelledby="previous-tab">
                    {#                    Переключатели дней прошлой недели#}
                    <ul class="nav nav-tabs" id="myTabP" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="mondayp-tab" data-bs-toggle="tab"
                                    data-bs-target="#mondayp" type="button" role="tab" aria-controls="monday"
                                    aria-selected="true">Monday
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="tuesdayp-tab" data-bs-toggle="tab" data-bs-target="#tuesdayp"
                                    type="button" role="tab" aria-controls="tuesday" aria-selected="false">Tuesday
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="wednesdayp-tab" data-bs-toggle="tab"
                                    data-bs-target="#wednesdayp" type="button" role="tab" aria-controls="wednesday"
                                    aria-selected="false">Wednesday
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="thursdayp-tab" data-bs-toggle="tab" data-bs-target="#thursdayp"
                                    type="button" role="tab" aria-controls="thursday" aria-selected="false">Thursday
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="fridayp-tab" data-bs-toggle="tab" data-bs-target="#fridayp"
                                    type="button" role="tab" aria-controls="friday" aria-selected="false">Friday
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="saturdayp-tab" data-bs-toggle="tab" data-bs-target="#saturdayp"
                                    type="button" role="tab" aria-controls="saturday" aria-selected="false">Saturday
                            </button>
                        </li>
                    </ul>
                    {#                    Контент переключателей дней прошлой недели#}
                    <div class="tab-content" id="myTabContentP">
                        <div class="tab-pane fade show active" id="mondayp" role="tabpanel"
                             aria-labelledby="mondayp-tab">
                            {% for table in timetable %}
                                {% if table.date == MondayP %}
                                            <div class="div">{{ table.number }}{{ table.date }}{{ table.group.group_name }}{{ table.teacher.last_name }}{{ table.cabinet.cabinet_name }}{{ table.lesson.lesson_name }}{{ table.lesson.subgroups }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="tuesdayp" role="tabpanel" aria-labelledby="tuesdayp-tab">
                            {% for table in timetable %}
                                {% if table.date == TuesdayP %}
                                    <ul>
                                        <li>{{ table.number }}</li>
                                        <li>{{ table.date }}</li>
                                        <li>{{ table.group.group_name }}</li>
                                        <li>{{ table.teacher.last_name }}</li>
                                        <li>{{ table.cabinet.cabinet_name }}</li>
                                        <li>{{ table.lesson.lesson_name }}</li>
                                        <li>{{ table.lesson.subgroups }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="wednesdayp" role="tabpanel" aria-labelledby="wednesdayp-tab">
                            {% for table in timetable %}
                                {% if table.date == WednesdayP %}
                                    <ul>
                                        <li>{{ table.number }}</li>
                                        <li>{{ table.date }}</li>
                                        <li>{{ table.group.group_name }}</li>
                                        <li>{{ table.teacher.last_name }}</li>
                                        <li>{{ table.cabinet.cabinet_name }}</li>
                                        <li>{{ table.lesson.lesson_name }}</li>
                                        <li>{{ table.lesson.subgroups }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="thursdayp" role="tabpanel" aria-labelledby="thursdayp-tab">
                            {% for table in timetable %}
                                {% if table.date == ThursdayP %}
                                    <ul>
                                        <li>{{ table.number }}</li>
                                        <li>{{ table.date }}</li>
                                        <li>{{ table.group.group_name }}</li>
                                        <li>{{ table.teacher.last_name }}</li>
                                        <li>{{ table.cabinet.cabinet_name }}</li>
                                        <li>{{ table.lesson.lesson_name }}</li>
                                        <li>{{ table.lesson.subgroups }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="fridayp" role="tabpanel" aria-labelledby="fridayp-tab">
                            {% for table in timetable %}
                                {% if table.date == FridayP %}
                                    <ul>
                                        <li>{{ table.number }}</li>
                                        <li>{{ table.date }}</li>
                                        <li>{{ table.group.group_name }}</li>
                                        <li>{{ table.teacher.last_name }}</li>
                                        <li>{{ table.cabinet.cabinet_name }}</li>
                                        <li>{{ table.lesson.lesson_name }}</li>
                                        <li>{{ table.lesson.subgroups }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="saturdayp" role="tabpanel" aria-labelledby="saturdayp-tab">
                            {% for table in timetable %}
                                {% if table.date == SaturdayP %}
                                    <ul>
                                        <li>{{ table.number }}</li>
                                        <li>{{ table.date }}</li>
                                        <li>{{ table.group.group_name }}</li>
                                        <li>{{ table.teacher.last_name }}</li>
                                        <li>{{ table.cabinet.cabinet_name }}</li>
                                        <li>{{ table.lesson.lesson_name }}</li>
                                        <li>{{ table.lesson.subgroups }}</li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="current" role="tabpanel" aria-labelledby="current-tab">

                </div>
                <div class="tab-pane fade" id="next" role="tabpanel" aria-labelledby="next-tab">

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{#Что это?#}
{#                <div class="input-group">#}
{#                    <div id="search-autocomplete" class="form-outline">#}
{#                        <input name="search" type="text" id="form1" class="form-control"/>#}
{#                        <label class="form-label" for="form1">Поиск</label>#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-primary">#}
{#                        <i class="fas fa-search"></i>#}
{#                    </button>#}
{#                </div>#}

{#            Суперпользователи#}
{#                {% if request.user.is_superuser %}#}
{#                    <div class="form-group mx-sm-3 mb-2">#}
{#                        <input type="search" class="form-control" name="date_start" placeholder="Дата начала">#}
{#                    </div>#}
{#                    <div class="form-group mx-sm-3 mb-2">#}
{#                        <input type="date" class="form-control" name="date_end" placeholder="Дата конца">#}
{#                    </div>#}
{#                {% endif %}#}