{% extends 'base.html' %}
{% block title %} Расписание {% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <form class="form-row" action="{% url 'main_page' %}" method="get">
                {#                Поле выбора Препода или группы#}
            {{ MondayN }}
                <select class="js-selectize" name="search" placeholder="Выберите город" onchange="this.form.submit()">
                    <option value=""></option>
                    <optgroup label="Преподаватели">
                        {% for teach in teacher_name %}
                            <option value="{{ teach.last_name }}">{{ teach.last_name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Группы">
                        {% for group in group_name %}
                            <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Кабинет">
                        {% for cabinet in cabinet_name %}
                            <option value="{{ cabinet.cabinet_name }}">{{ cabinet.cabinet_name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>

            </form>
            <div class="nahuy">
                <p>Ахуеннейший текстуля</p>
            </div>
            <button type="button" class="themetoggle btn btn-them btn-floating">
                <span class="material-icons">light_mode</span>
            </button>
            {# Переключатели #}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            type="button" role="tab" aria-controls="home" aria-selected="true">Home
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                            type="button" role="tab" aria-controls="profile" aria-selected="false">Profile
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                            type="button" role="tab" aria-controls="contact" aria-selected="false">Contact
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>{{ previous }}</p>
                    {% for table in timetable %}
                        {% if table.date == previous %}
                            <ul>
                                <li>{{ table.number }}</li>
                                <li>{{ table.date }}</li>
                                <li>{{ table.group.group_name }}</li>
                                <li>{{ table.teacher.last_name }}</li>
                                <li>{{ table.cabinet.cabinet_name }}</li>
                                <li>{{ table.lesson.lesson_name }}</li>
                                <li>{{ table.lesson.subgroups }}</li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p>{{ current }}</p>
                    {% for table in timetable %}
                        {% if table.date == current %}
                            <ul>
                                <li>{{ table.number }}</li>
                                <li>{{ table.date }}</li>
                                <li>{{ table.group.group_name }}</li>
                                <li>{{ table.teacher.last_name }}</li>
                                <li>{{ table.cabinet.cabinet_name }}</li>
                                <li>{{ table.lesson.lesson_name }}</li>
                                <li>{{ table.lesson.subgroups }}</li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <p>{{ next }}</p>
                    {% for table in timetable %}
                        {% if table.date == next %}
                            <ul>
                                <li>{{ table.number }}</li>
                                <li>{{ table.date }}</li>
                                <li>{{ table.group.group_name }}</li>
                                <li>{{ table.teacher.last_name }}</li>
                                <li>{{ table.cabinet.cabinet_name }}</li>
                                <li>{{ table.lesson.lesson_name }}</li>
                                <li>{{ table.lesson.subgroups }}</li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{#Что это?#}
{#                <div class="input-group">#}
{#                    <div id="search-autocomplete" class="form-outline">#}
{#                        <input name="search" type="text" id="form1" class="form-control"/>#}
{#                        <label class="form-label" for="form1">Поиск</label>#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-primary">#}
{#                        <i class="fas fa-search"></i>#}
{#                    </button>#}
{#                </div>#}

{#            Суперпользователи#}
{#                {% if request.user.is_superuser %}#}
{#                    <div class="form-group mx-sm-3 mb-2">#}
{#                        <input type="search" class="form-control" name="date_start" placeholder="Дата начала">#}
{#                    </div>#}
{#                    <div class="form-group mx-sm-3 mb-2">#}
{#                        <input type="date" class="form-control" name="date_end" placeholder="Дата конца">#}
{#                    </div>#}
{#                {% endif %}#}